
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

body{
    background: #000;
    color: #0f0;
    margin: 0; 
    padding: 12px; 
    border: 0; 
    font-family: Courier New; 
}
body{
    background: #010;
    color: #0f0;
    margin: 0; 
    padding: 12px; 
    border: 0; 
    font-family: Courier New; 
}

h1 {
    background-color: #000;
    color: #00f;
    font-family: Lobster, Monospace;
    font-size: 20pt;
    font-weight: bold;
    padding-right: 1ex;
    text-align: center;
}

h2 {
    background-color: #000;
    color: #0ff;
    font-family: Lobster, Monospace;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 2em;
    text-align: center;
}

h3 {
    background-color: #000;
    color: #0f0;
    font-family: Lobster, Monospace;
    font-size: 14pt;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 2em;
}
h4 {
    background-color: #000;
    color: #fff;
    font-family: Courier New;;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 2em;
    text-decoration: underline;
}
p{
    font-size: 14px;
    font-family: Courier New;;
}

.border-green-thick {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.box {
    border-style: solid;
    border-color: siver;
    border-width: 5px;
    text-align: center;
}

.box-green {
    background-color: green;
    padding: 30px;
}

.box-red {
    background-color: red;
    padding: 20px;
}

.box-yellow {
    background-color: yellow;
    padding: 10px;
}

.image-small {
    width: 100px;
}

.text-injected {
    margin-bottom: -25px;
    text-align: center;
}

.text-red {
    color: red;
}
